-Iz3dSfrMgDwdtcAO1R_H.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Get Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Name": {
      "main": [
        [
          {
            "node": "Get Employee Allocations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Employee Allocations": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-09T16:11:34.171Z",
  "id": "-Iz3dSfrMgDwdtcAO1R_H",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Henkilön resurssit tällä viikolla",
  "nodes": [
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "9c0f3558-a233-42bf-a7c9-ad6e8d68e995",
      "name": "When chat message received",
      "webhookId": "760374a3-789d-44d7-8255-d789bdc0926f"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6929a0bd-fb69-46f0-a095-5c2ad6ac87b0",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "bcf355e1-6570-4f87-a527-856656ff39a6",
              "name": "startDate",
              "value": "={{ $('Get Employee Allocations').item.json.startDate }}",
              "type": "string"
            },
            {
              "id": "aac572c8-f577-47f6-b567-684d4cc1b166",
              "name": "endDate",
              "value": "={{ $('Get Employee Allocations').item.json.endDate }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        0
      ],
      "id": "9a123caf-6ff3-4ac4-911e-f0498c71c68c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "employees",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "name",
              "condition": "eq",
              "keyValue": "={{ $json.chatInput }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "afd65870-f469-4fba-84b0-c7eb334f9585",
      "name": "Get Name",
      "credentials": {
        "supabaseApi": {
          "id": "HHEycfhJR6Fp0AeF",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "projects",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.projectId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "af2df10b-9d42-4e90-ad06-9c85f0fafc3f",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "HHEycfhJR6Fp0AeF",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "allocations",
        "limit": 5,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "employeeId",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "eb7cc5fb-c3ad-4c47-b821-aea94a656340",
      "name": "Get Employee Allocations",
      "credentials": {
        "supabaseApi": {
          "id": "HHEycfhJR6Fp0AeF",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8fe20e87-d8a4-4bce-b145-2e4bd0585d2e",
              "leftValue": "={{ $('Get Employee Allocations').item.json.startDate }}",
              "rightValue": "={{ $today }}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            },
            {
              "id": "b285ad6d-6565-4917-ac6e-875f1625f4f4",
              "leftValue": "={{ $('Get Employee Allocations').item.json.endDate }}",
              "rightValue": "={{ $today }} ",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        832,
        0
      ],
      "id": "469dfe7d-534f-46af-bd09-bd751bff9aba",
      "name": "Filter"
    },
    {
      "parameters": {
        "message": "={{ $json.combinedText }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        1712,
        0
      ],
      "id": "8709710e-c939-4d31-ab8b-1ff311103325",
      "name": "Respond to Chat"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "=work",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1280,
        0
      ],
      "id": "4a609412-2d85-4ee8-9052-28fc5352db3e",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "// Get the first input item (your JSON)\nconst data = items[0].json;\n\n// Build the combined text\nlet resultText = '';\n\nif (Array.isArray(data.work)) {\n  resultText = data.work\n    .map(item => {\n      return `${item.name}, Start: ${item.startDate}, End: ${item.endDate}`;\n    })\n    .join(' \\r');\n}\n\n// Return as a single string\nreturn [\n  {\n    json: {\n      combinedText: resultText\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        0
      ],
      "id": "5a85b2f6-0509-411d-9f8b-3ce5542a74e3",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U08LJDZ0YUR",
          "mode": "list",
          "cachedResultName": "topi.tuominen"
        },
        "text": "={{ $json.combinedText }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1920,
        0
      ],
      "id": "4401e8cc-45e4-43df-a0c7-4eb9b0eb745c",
      "name": "Send a message",
      "webhookId": "3379344a-a8d3-43f6-9fcb-25ef7b69db11",
      "credentials": {
        "slackOAuth2Api": {
          "id": "xk64iVuu22yHYOAw",
          "name": "Slack account"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "gmail-tktuomin",
    "name": "n8n-workflow-backup"
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-09T16:11:34.174Z",
      "createdAt": "2026-01-09T16:11:34.174Z",
      "role": "workflow:owner",
      "workflowId": "-Iz3dSfrMgDwdtcAO1R_H",
      "projectId": "D8Ek1Ky4U6J3gusq"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-11-14T12:53:13.217Z",
      "createdAt": "2025-11-14T12:53:13.217Z",
      "id": "C10wIUBEqHR9Evc1",
      "name": "issafe"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-20T12:47:39.224Z",
  "versionId": "516e7553-bdbd-4822-9484-7a1e7aee03e9"
}