1S66hGBNLe1caA1y.json
{
  "active": false,
  "connections": {
    "Topin Telegram Bot": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-03T11:36:04.218Z",
  "id": "1S66hGBNLe1caA1y",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Telegram APINA",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -432,
        96
      ],
      "id": "588bf7f5-5610-4f13-9e7f-6fb60ccdb356",
      "name": "Topin Telegram Bot",
      "webhookId": "2fecb7d6-83ad-4f91-87d4-c96b132fe069",
      "credentials": {
        "telegramApi": {
          "id": "gh8HrHds8bxsf0no",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c28a45eb-3845-488d-91b7-8447623f35ff",
              "leftValue": "={{ $json.message.from.id }}",
              "rightValue": 5804718585,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        96
      ],
      "id": "54f4e2f5-13e1-49b5-9156-930139688b42",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "5804718585",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "4802eab3-c506-42ec-a8f7-3f35e45d7f0e",
      "name": "Send a text message",
      "webhookId": "94193e3b-fa39-4a3a-9977-b6b64ac53b42",
      "credentials": {
        "telegramApi": {
          "id": "gh8HrHds8bxsf0no",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }} limit all answers to 1500 characters",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "8ed435ef-6ad6-427c-9434-00d4a3f6f945",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        0,
        256
      ],
      "id": "362acb50-6f54-44d6-980f-aff9ee64616d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "lymwGoIItinvgkKl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.update_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        96,
        320
      ],
      "id": "678f11d8-8b57-4f40-a7d6-6289696669de",
      "name": "Simple Memory"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "gmail-tktuomin",
    "name": "n8n-workflow-backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-03T11:36:04.219Z",
      "createdAt": "2025-10-03T11:36:04.219Z",
      "role": "workflow:owner",
      "workflowId": "1S66hGBNLe1caA1y",
      "projectId": "D8Ek1Ky4U6J3gusq"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-05T18:17:22.000Z",
  "versionId": "0c03676a-1c25-4479-aca2-350ebcf4fa99"
}