gdeK4mYunOExIewO.json
{
  "active": false,
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-05T15:49:27.668Z",
  "id": "gdeK4mYunOExIewO",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Text-to-image",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Video or still",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Prompt",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -48,
        -48
      ],
      "id": "94122653-6de6-4506-b8ca-138b242df8f9",
      "name": "On form submission",
      "webhookId": "e97a80b2-4ece-4c1c-b45d-21a57693ca6b"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You're an expert at writing image-generation prompts for OpenAI - Dalle-E 3 model\n\nYour job is to take the user's written concept and turn it into a single, production-ready prompt that transforms an uploaded image into a visually realistic short ad.\nInput:\n\n{{ $json.Prompt }}\n\nRules:\n1. Create an image that can be used in social media as a product ad.\n2. This is a UGC ad, so the feel should be natural, product-focused, and emotionally persuasive.\n3. Assume the uploaded image will be reformatted to 1280x720, and make subtle adjustments so the image looks realistic and proportional.\n4. Avoid brand names, copyrighted references, or people's likenesses.\n5. The scene should be situated in Finland, and copy should be in Finnish.\n6. Prompt must not exceed 950 characters.\nOutput :\nReturn only the final image generation prompt, nothing else.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        352,
        -32
      ],
      "id": "559e2fb4-0ba0-4751-9a2d-9a9c28ed7f29",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        288
      ],
      "id": "863e1fdf-263f-486b-aea6-fe4c3f206081",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "lymwGoIItinvgkKl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "model": "dall-e-2",
        "prompt": "={{ $json.output }}",
        "options": {
          "size": "512x512",
          "returnImageUrls": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        896,
        -32
      ],
      "id": "2aa04ada-e763-4e83-9c6f-7cf30444db58",
      "name": "Generate an image",
      "credentials": {
        "openAiApi": {
          "id": "lymwGoIItinvgkKl",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "gmail-tktuomin",
    "name": "n8n-workflow-backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-05T15:49:27.671Z",
      "createdAt": "2025-11-05T15:49:27.671Z",
      "role": "workflow:owner",
      "workflowId": "gdeK4mYunOExIewO",
      "projectId": "D8Ek1Ky4U6J3gusq"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-06T09:44:19.000Z",
  "versionId": "7f3db35d-d66d-4bd3-ab87-da10913e6048"
}