GSJJuZ0ERshpQBvI.json
{
  "active": false,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Promptin rakentaja analyytikko",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Promptin rakentaja analyytikko",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Gemini assari analyytikko",
            "type": "main",
            "index": 0
          },
          {
            "node": "OAI Assari analyytikko",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Final boss Analyytikko",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini assari analyytikko": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OAI Assari analyytikko": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Promptin rakentaja analyytikko": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Final boss Analyytikko",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-19T17:28:03.645Z",
  "id": "GSJJuZ0ERshpQBvI",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "SWOT analyysi työkalu",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        32,
        0
      ],
      "id": "61763f14-803a-414e-bfda-69822ed94a2f",
      "name": "When chat message received",
      "webhookId": "0623ef06-f0fd-458e-a4a4-2caeea530fe1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-lite-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        272,
        208
      ],
      "id": "eeaaf5cc-afb1-448b-b01f-212b788ec042",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "3erpjknFp1YxWmHp",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "list",
          "cachedResultName": "gpt-5.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        736,
        352
      ],
      "id": "66daf765-4ecc-43ac-b837-8e73c33a9739",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "lymwGoIItinvgkKl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        608,
        0
      ],
      "id": "fd0dc668-867a-4778-9587-52aa481d6e76",
      "name": "Split Out"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1376,
        0
      ],
      "id": "d410efd3-451d-432a-98f8-801c708e57ea",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert business analyst.\n\nCreate me an SWOT analycis based on these two different SWOT analycis. \n\nDisplay the information in a paragraphed format\n\nFirst: {{ $json.content.parts[0].text }}\nSecond: {{ $json.output[0].content[0].text }}\n\nSTRENGHTS\nThe strengts are...\n\nGive conclusions and advice how to improve the key findings on SWOT \n\nThe output should be markup\nResponces should be in finnish.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1584,
        0
      ],
      "id": "47402811-e4c6-416d-891e-94a74d947ba4",
      "name": "Final boss Analyytikko"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.output }}\n\nInstructions: \ngive just the response and nothing else."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        960,
        -96
      ],
      "id": "fd5a415b-0fd7-48ab-be8a-8473c641407a",
      "name": "Gemini assari analyytikko",
      "credentials": {
        "googlePalmApi": {
          "id": "3erpjknFp1YxWmHp",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "GPT-5-NANO"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.output }}\n\nInstructions: \ngive just the response and nothing else. "
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        960,
        144
      ],
      "id": "5aca8e38-ddc7-4137-baa6-5869219ae00b",
      "name": "OAI Assari analyytikko",
      "credentials": {
        "openAiApi": {
          "id": "lymwGoIItinvgkKl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a AI assistant that can create different prompts for the Gemini AI\n\nInstructions: \ninput:{{ $json.chatInput }}\ncreate just a prompt nothing else\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        272,
        0
      ],
      "id": "b0990a97-8ca9-4cdf-af0f-287846712bb7",
      "name": "Promptin rakentaja analyytikko"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1568,
        224
      ],
      "id": "a0791774-66dd-4791-8f6e-109de2e2660a",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "lymwGoIItinvgkKl",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "gmail-tktuomin",
    "name": "n8n-workflow-backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-19T17:28:03.649Z",
      "createdAt": "2025-11-19T17:28:03.649Z",
      "role": "workflow:owner",
      "workflowId": "GSJJuZ0ERshpQBvI",
      "projectId": "D8Ek1Ky4U6J3gusq"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-11-14T12:53:13.217Z",
      "createdAt": "2025-11-14T12:53:13.217Z",
      "id": "C10wIUBEqHR9Evc1",
      "name": "issafe"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-11-20T06:53:25.000Z",
  "versionId": "3de42e2f-2a19-413a-b8cf-f5f9942e2f1e"
}