LpDsyitvJwTCSwra.json
{
  "active": false,
  "connections": {
    "Airtable Trigger": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create or update a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-28T11:57:32.749Z",
  "id": "LpDsyitvJwTCSwra",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "airtableOAuth2Api",
        "baseId": {
          "__rl": true,
          "value": "https://airtable.com/appQCPDeaiYtvfkV2/tbleWsnM4QGargFXs/viw9Arsvnx8huhu36?blocks=hide",
          "mode": "url"
        },
        "tableId": {
          "__rl": true,
          "value": "https://airtable.com/appQCPDeaiYtvfkV2/tbleWsnM4QGargFXs/viw9Arsvnx8huhu36?blocks=hide",
          "mode": "url"
        },
        "triggerField": "Idea Title",
        "additionalFields": {
          "formula": "{Refinement} == \"not refined\""
        }
      },
      "type": "n8n-nodes-base.airtableTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        0
      ],
      "id": "93e1468c-5e31-4310-a97b-e230688cbbc9",
      "name": "Airtable Trigger",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "XJw6S1VhhgaO490p",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a social marketing manager for a company. Create nice and professional post based on these ideas and refine the idea to get more leads and contacts from social media. \n\nTitle: {{ $json.fields[\"Idea Title\"] }}\nBody: {{ $json.fields[\"Post Content\"] }}\nChannels: {{ $json.fields[\"Channel Types (Lookup)\"] }}\n\nResponse should be just the \n{ \n\"Idea Title\": \"idea title\", \n\"Post Content\": \"post content\",  \n\"Channels\": \"channels\",\n\"Tags\": \"tags\"\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        416,
        -32
      ],
      "id": "411a9c41-6c7c-4071-9b41-d22ec631d8e9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        288,
        208
      ],
      "id": "609ceaf9-bdb5-41a3-becd-a2054fefa8e4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "lymwGoIItinvgkKl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Airtable Trigger').item.json.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        432,
        208
      ],
      "id": "2a9d3103-e63b-4b9a-b0c4-8364a7352a69",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appQCPDeaiYtvfkV2",
          "mode": "list",
          "cachedResultName": "Social Post Repository",
          "cachedResultUrl": "https://airtable.com/appQCPDeaiYtvfkV2"
        },
        "table": {
          "__rl": true,
          "value": "tbleWsnM4QGargFXs",
          "mode": "list",
          "cachedResultName": "Post Ideas",
          "cachedResultUrl": "https://airtable.com/appQCPDeaiYtvfkV2/tbleWsnM4QGargFXs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Search records').item.json.id }}",
            "Idea Title": "={{ $json.output[\"Idea Title\"] }}",
            "Post Content": "={{ $json.output[\"Post Content\"] }}",
            "Refinement": "refined"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Idea Title",
              "displayName": "Idea Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Post Content",
              "displayName": "Post Content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Post Image",
              "displayName": "Post Image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Draft",
                  "value": "Draft"
                },
                {
                  "name": "In Review",
                  "value": "In Review"
                },
                {
                  "name": "Ready to Publish",
                  "value": "Ready to Publish"
                },
                {
                  "name": "Published",
                  "value": "Published"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Publish Date",
              "displayName": "Publish Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Channels",
              "displayName": "Channels",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Tags",
              "displayName": "Tags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Days Until Publish",
              "displayName": "Days Until Publish",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Channel Types (Lookup)",
              "displayName": "Channel Types (Lookup)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Tag Names (Lookup)",
              "displayName": "Tag Names (Lookup)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Number of Channels",
              "displayName": "Number of Channels",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Number of Tags",
              "displayName": "Number of Tags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Post Content Summary (AI)",
              "displayName": "Post Content Summary (AI)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Suggested Improvements (AI)",
              "displayName": "Suggested Improvements (AI)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Refinement",
              "displayName": "Refinement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "refined",
                  "value": "refined"
                },
                {
                  "name": "not refined",
                  "value": "not refined"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        768,
        0
      ],
      "id": "327ca254-c3e2-484b-9294-7f9243457f92",
      "name": "Create or update a record",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "XJw6S1VhhgaO490p",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{ \n\"Idea Title\": \"idea title\", \n\"Post Content\": \"post content\",  \n\"Channels\": \"channels\",\n\"Tags\": \"tags\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        592,
        208
      ],
      "id": "28ea72fb-7daf-45de-b9c3-62ca01d0d2b7",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "5d1ada0b-553e-4a28-8fb4-81877d1b4881",
              "leftValue": "={{ $json.Refinement }}",
              "rightValue": "=not refined",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        128,
        0
      ],
      "id": "a565a6b1-9337-4709-9538-eb81cf3ee161",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appQCPDeaiYtvfkV2",
          "mode": "list",
          "cachedResultName": "Social Post Repository",
          "cachedResultUrl": "https://airtable.com/appQCPDeaiYtvfkV2"
        },
        "table": {
          "__rl": true,
          "value": "tbleWsnM4QGargFXs",
          "mode": "list",
          "cachedResultName": "Post Ideas",
          "cachedResultUrl": "https://airtable.com/appQCPDeaiYtvfkV2/tbleWsnM4QGargFXs"
        },
        "filterByFormula": "={Refinement} = \"not refined\"",
        "returnAll": false,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -48,
        0
      ],
      "id": "7b46e1ce-dea2-4c20-a441-ceaecb543800",
      "name": "Search records",
      "alwaysOutputData": false,
      "credentials": {
        "airtableOAuth2Api": {
          "id": "XJw6S1VhhgaO490p",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -32,
        272
      ],
      "id": "509e6d4a-914b-4122-b959-c1faa118d111",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        0,
        432
      ],
      "id": "ff159a1f-bba7-4fb0-9723-0bbe8be2495f",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "lymwGoIItinvgkKl",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "gmail-tktuomin",
    "name": "n8n-workflow-backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-28T11:57:32.751Z",
      "createdAt": "2025-10-28T11:57:32.751Z",
      "role": "workflow:owner",
      "workflowId": "LpDsyitvJwTCSwra",
      "projectId": "D8Ek1Ky4U6J3gusq"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-29T13:40:23.000Z",
  "versionId": "5a5d892b-8bd5-4e35-a4ed-56eff4a0726d"
}