LUMmsvTsnYh9EAJm.json
{
  "active": false,
  "connections": {
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-11-12T16:58:45.835Z",
  "id": "LUMmsvTsnYh9EAJm",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Sales Agentti",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1DqvAFIfVFxsYkZHt51aHRMMu2Ib_FGrF",
          "mode": "list",
          "cachedResultName": "pdf-data",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1DqvAFIfVFxsYkZHt51aHRMMu2Ib_FGrF"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        16
      ],
      "id": "b9cef2ce-f538-47cb-a47f-fbdc4be0229c",
      "name": "Google Drive Trigger1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kMtDIFEBWNM6AqZh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        208,
        272
      ],
      "id": "83eb606e-8988-440c-88e5-dd88e2f4b383",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "lymwGoIItinvgkKl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are presales expert. \n\nUse this stucture and prices to generate a new offer from the vector database.\n\n{{ $json.content }}\n\n#rules\n- Just give the content. Nothing else.\n- taylor the offer based on the content in the database\n- map similar topics together",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1120,
        -928
      ],
      "id": "68bce63b-7887-4b5a-94a9-d54fb00b431a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        544,
        -304
      ],
      "id": "246f48e3-8933-470e-ad96-90cd548af88c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "lymwGoIItinvgkKl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.webViewLink }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        64,
        16
      ],
      "id": "969ff05a-ce5f-4071-aa85-b07959b233d8",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kMtDIFEBWNM6AqZh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        240,
        -544
      ],
      "id": "2980f2c7-c4ea-48f1-a1b3-49a8af8718b6",
      "name": "When chat message received",
      "webhookId": "9dd2bd0c-cbee-4b62-ab50-3edf29d5d0f4"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        688,
        -256
      ],
      "id": "fe0264b4-f4d8-48e3-b071-767e4682e1b6",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1072,
        -176
      ],
      "id": "8d91c8f8-c86a-4c73-ba96-eb6a287ee235",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "lymwGoIItinvgkKl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v2/files/{{ $json.id }}/copy?convert=true&supportsAllDrives=true",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        -928
      ],
      "id": "2451c40f-70bf-484f-ab18-a603452884c5",
      "name": "HTTP Request",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kMtDIFEBWNM6AqZh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "\".docx\"",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -96,
        -960
      ],
      "id": "fac21843-adb7-413f-b983-0c7198de8fd4",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kMtDIFEBWNM6AqZh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        496,
        -912
      ],
      "id": "349501bb-f429-4861-bf8b-c1150df08638",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "fGQ2i0hDPbmTGXTc",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-rag-test",
          "mode": "list",
          "cachedResultName": "n8n-rag-test"
        },
        "embeddingBatchSize": 1536,
        "options": {
          "pineconeNamespace": "n8n-sales-rag"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        448,
        16
      ],
      "id": "bbd33611-2619-4d36-8170-31996b6b0e39",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "bx4vssrU0UACxnOH",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        864,
        224
      ],
      "id": "ac6e8a0d-441e-4a9b-9d33-220f22478bf2",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Get data from the Pinecone database",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-rag-test",
          "mode": "list",
          "cachedResultName": "n8n-rag-test"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        880,
        -336
      ],
      "id": "00110ef5-a25f-4e68-bfbc-de87241df623",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "bx4vssrU0UACxnOH",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        576,
        -560
      ],
      "id": "e32ddc29-50a9-458f-b7d4-683edacb7fcd",
      "name": "AI Agent1"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "gmail-tktuomin",
    "name": "n8n-workflow-backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-12T16:58:45.837Z",
      "createdAt": "2025-11-12T16:58:45.837Z",
      "role": "workflow:owner",
      "workflowId": "LUMmsvTsnYh9EAJm",
      "projectId": "D8Ek1Ky4U6J3gusq"
    }
  ],
  "staticData": {
    "node:Google Drive Trigger1": {
      "lastTimeChecked": "2025-11-12T12:19:18Z"
    }
  },
  "tags": [
    {
      "updatedAt": "2025-11-14T12:53:13.217Z",
      "createdAt": "2025-11-14T12:53:13.217Z",
      "id": "C10wIUBEqHR9Evc1",
      "name": "issafe"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2025-11-14T12:53:19.000Z",
  "versionId": "d417a631-c62f-4d40-aa4d-29dc567bbc9a"
}