ovxXblFZCrQnId9k.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Get a list of transcripts": {
      "main": [
        [
          {
            "node": "Get a transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a transcript": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get a list of transcripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-28T09:31:27.423Z",
  "id": "ovxXblFZCrQnId9k",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Firefiles to slack",
  "nodes": [
    {
      "parameters": {
        "operation": "getTranscriptsList",
        "limit": 1,
        "filters": {}
      },
      "type": "@firefliesai/n8n-nodes-fireflies.fireflies",
      "typeVersion": 1,
      "position": [
        -80,
        -64
      ],
      "id": "86965deb-90ae-418d-8351-f98cb910351d",
      "name": "Get a list of transcripts",
      "credentials": {
        "firefliesApi": {
          "id": "HPGdza2JncdCLv8F",
          "name": "Fireflies Heku.fi"
        }
      }
    },
    {
      "parameters": {
        "transcriptId": "={{ $json.data.id }}"
      },
      "type": "@firefliesai/n8n-nodes-fireflies.fireflies",
      "typeVersion": 1,
      "position": [
        112,
        -64
      ],
      "id": "0c372725-c0dd-47ff-b27f-de207c4f5709",
      "name": "Get a transcript",
      "credentials": {
        "firefliesApi": {
          "id": "HPGdza2JncdCLv8F",
          "name": "Fireflies Heku.fi"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U08LJDZ0YUR",
          "mode": "list",
          "cachedResultName": "topi.tuominen"
        },
        "text": "=Meeting : {{ $json.data.summary.shorthand_bullet }}\n\nOverview:\n{{ $json.data.summary.overview }}\n\nBullet:\n{{ $json.data.summary.shorthand_bullet }}\n",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        736,
        -64
      ],
      "id": "7a1d267d-4196-48a0-b104-c3b73a8029ed",
      "name": "Send a message",
      "webhookId": "d964d52c-b7c8-42c6-adad-3731dfca8166",
      "credentials": {
        "slackOAuth2Api": {
          "id": "xk64iVuu22yHYOAw",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        -64
      ],
      "id": "9676271a-e730-4af1-bb74-8b6be3653bfb",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed897f73-5f23-4e8c-9f86-54d51b9a8d61",
              "name": "data.summary.shorthand_bullet",
              "value": "={{ $json.data.summary.shorthand_bullet }}",
              "type": "string"
            },
            {
              "id": "a605f00a-ac92-4bb7-a023-be82eabf2137",
              "name": "data.summary.overview",
              "value": "={{ $json.data.summary.overview }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        -64
      ],
      "id": "f57f8f03-7794-42c8-a7b7-9022e3b53454",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst cleaned = item.data.summary.shorthand_bullet\n  .replace(/[\\u{1F000}-\\u{1FFFF}]|[\\u{2600}-\\u{27BF}]|[\\u{2300}-\\u{23FF}]|[\\u{2B50}-\\u{2B55}]|[\\u{FE00}-\\u{FE0F}]|[\\u{1F900}-\\u{1F9FF}]|[\\u{1FA00}-\\u{1FA9F}]/gu, '')\n  .trim();\n\nitem.data.summary.shorthand_bullet = cleaned;\n\nreturn [{ json: item }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        -64
      ],
      "id": "b9f47ecd-3761-46cd-b27b-e82fac2263ce",
      "name": "Code in JavaScript"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "gmail-tktuomin",
    "name": "n8n-workflow-backup"
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Helsinki",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "fKGhzmGAaX5tfRRV"
  },
  "shared": [
    {
      "updatedAt": "2025-11-28T09:31:27.426Z",
      "createdAt": "2025-11-28T09:31:27.426Z",
      "role": "workflow:owner",
      "workflowId": "ovxXblFZCrQnId9k",
      "projectId": "D8Ek1Ky4U6J3gusq"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-11-14T12:53:13.217Z",
      "createdAt": "2025-11-14T12:53:13.217Z",
      "id": "C10wIUBEqHR9Evc1",
      "name": "issafe"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-03-10T08:54:26.763Z",
  "versionId": "9b253aea-0b57-4e40-96aa-efe682b06246"
}