ovxXblFZCrQnId9k.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get a list of transcripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a list of transcripts": {
      "main": [
        [
          {
            "node": "Get a transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a transcript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-28T09:31:27.423Z",
  "id": "ovxXblFZCrQnId9k",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Firefiles",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        -64
      ],
      "id": "0bc7ac7f-ee0d-4a90-ac51-e69ddda6299f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "getTranscriptsList",
        "filters": {}
      },
      "type": "@firefliesai/n8n-nodes-fireflies.fireflies",
      "typeVersion": 1,
      "position": [
        -32,
        -64
      ],
      "id": "86965deb-90ae-418d-8351-f98cb910351d",
      "name": "Get a list of transcripts",
      "credentials": {
        "firefliesApi": {
          "id": "HPGdza2JncdCLv8F",
          "name": "Fireflies Heku.fi"
        }
      }
    },
    {
      "parameters": {
        "transcriptId": "={{ $json.data.id }}"
      },
      "type": "@firefliesai/n8n-nodes-fireflies.fireflies",
      "typeVersion": 1,
      "position": [
        176,
        -64
      ],
      "id": "0c372725-c0dd-47ff-b27f-de207c4f5709",
      "name": "Get a transcript",
      "credentials": {
        "firefliesApi": {
          "id": "HPGdza2JncdCLv8F",
          "name": "Fireflies Heku.fi"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Olet palaveri sihteeri. Tee tästä palaverista muistio ja listaa Action pointit niin että ne voidaan laittaa Trellokorteille oikeille henkilöille.\n\nshort summary:\n{{ $json.data.summary.short_summary }}\n\nAction items:\n{{ $json.data.summary.action_items }}\nAnna vain vastaus ei mitään muuta",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        384,
        -64
      ],
      "id": "89f0f837-4386-4808-83b1-e2c6131ff959",
      "name": "AI Agent",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        256,
        144
      ],
      "id": "fd35e7ff-ce42-4be8-8f96-4efec716610f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "lymwGoIItinvgkKl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"memo\": \"this is a memo\",\n\t\"actionpointis\": [{\n        \"Assignee\": \"John\",\n        \"Actionpoint\": \"ap 1\"\n    },\n    {\n        \"Assignee\": \"Lena\",\n        \"Actionpoint\": \"ap 2\"\n    }\n    ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        560,
        144
      ],
      "id": "5f93e542-fec2-4d43-bf67-7bc487131ed9",
      "name": "Structured Output Parser"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "gmail-tktuomin",
    "name": "n8n-workflow-backup"
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Helsinki",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "fKGhzmGAaX5tfRRV"
  },
  "shared": [
    {
      "updatedAt": "2025-11-28T09:31:27.426Z",
      "createdAt": "2025-11-28T09:31:27.426Z",
      "role": "workflow:owner",
      "workflowId": "ovxXblFZCrQnId9k",
      "projectId": "D8Ek1Ky4U6J3gusq"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-11-14T12:53:13.217Z",
      "createdAt": "2025-11-14T12:53:13.217Z",
      "id": "C10wIUBEqHR9Evc1",
      "name": "issafe"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-12-03T10:08:19.000Z",
  "versionId": "230c3237-cd96-4acc-9cf1-8433b192c28d"
}