PmVWoHjgJ5AQh1I6.json
{
  "active": false,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Gemini AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "OpenAI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "OpenAI",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Gemini AI",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Gemini AI": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-06T06:55:55.115Z",
  "id": "PmVWoHjgJ5AQh1I6",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Chat - SWOT analyysi",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -256,
        0
      ],
      "id": "af716413-d82f-4191-a640-db75732254b5",
      "name": "When chat message received",
      "webhookId": "def3fda9-fd46-46e5-9ab3-badc27c5fcdb"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        368,
        256
      ],
      "id": "c4357aa8-2005-4129-8f4f-a56fe68a4fff",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "lymwGoIItinvgkKl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": "={{ $json.chatInput }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        528,
        304
      ],
      "id": "0b5fa7e0-9300-4143-885d-508299c100de",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2821f88d-8224-8065-b7f0-c61ab4e39868",
          "mode": "list",
          "cachedResultName": "web data",
          "cachedResultUrl": "https://www.notion.so/2821f88d82248065b7f0c61ab4e39868"
        },
        "title": "=",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Company|title",
              "title": "={{ $('When chat message received').item.json.chatInput }}"
            },
            {
              "key": "information|rich_text",
              "textContent": "={{ $json.output }}"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        768,
        0
      ],
      "id": "cb34a133-168f-4afb-8045-638c6952ef74",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "id": "NK84bLmA7TWzuOv6",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        16,
        288
      ],
      "id": "b963a5c8-c661-4ca2-badd-569fd2556fb9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "3erpjknFp1YxWmHp",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.chatInput }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        192,
        352
      ],
      "id": "0fa10802-741a-4e97-bda9-77b77722644f",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Olet {{ $json.chatInput }} liiketoimintaa. Tee SWOT analyysi, arvio luottoriskist채 ja kehitysehdokukset kasvustrategiasta.\n\nVastauksen pituus on maksimissaan 1500 merkki채.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        64,
        0
      ],
      "id": "9677d785-5fb6-42e6-b20e-f4efa7a4e861",
      "name": "Gemini AI"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Olet {{ $json.chatInput }} liiketoimintaa. Tee SWOT analyysi, arvio luottoriskist채 ja kehitysehdokukset kasvustrategiasta.\n\nVastauksen pituus on maksimissaan 1500 merkki채.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        416,
        48
      ],
      "id": "eab3626a-4d29-4ed1-9bbd-80f05a8d9383",
      "name": "OpenAI"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "gmail-tktuomin",
    "name": "n8n-workflow-backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-06T06:55:55.116Z",
      "createdAt": "2025-10-06T06:55:55.116Z",
      "role": "workflow:owner",
      "workflowId": "PmVWoHjgJ5AQh1I6",
      "projectId": "D8Ek1Ky4U6J3gusq"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-11-14T12:53:13.217Z",
      "createdAt": "2025-11-14T12:53:13.217Z",
      "id": "C10wIUBEqHR9Evc1",
      "name": "issafe"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-11-14T12:54:57.000Z",
  "versionId": "8bc27939-576f-4ebd-bdaa-a7dcf9d96848"
}