qnof7Cat24D9RIz8.json
{
  "active": false,
  "connections": {
    "Notion Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a Trello task": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Create a Trello task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-03T11:43:58.966Z",
  "id": "qnof7Cat24D9RIz8",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Norton to Trello",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "event": "pagedUpdatedInDatabase",
        "databaseId": {
          "__rl": true,
          "value": "2811f88d-8224-803f-904a-eefe7176fbba",
          "mode": "list",
          "cachedResultName": "N8N dataa",
          "cachedResultUrl": "https://www.notion.so/2811f88d8224803f904aeefe7176fbba"
        }
      },
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        64,
        -176
      ],
      "id": "4e4f7af8-68c9-490c-a4e1-cef2029b79b5",
      "name": "Notion Trigger",
      "notesInFlow": false,
      "credentials": {
        "notionApi": {
          "id": "NK84bLmA7TWzuOv6",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "listId": "68d645f10ae78fb9133cee81",
        "name": "=Markkinointibrief: {{ $('Notion Trigger').item.json.TEEMA }}",
        "description": "={{ $json[\"output.Tasks\"] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        1376,
        80
      ],
      "id": "58f2ab46-2d43-40dd-9844-cfd905bee665",
      "name": "Create a Trello task",
      "credentials": {
        "trelloApi": {
          "id": "C3Rpom1ymc3puvvE",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1136,
        -48
      ],
      "id": "1d475c22-c468-4fb2-977d-c32a677abfe9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=input contains these information:\n{{ $json.Kuvaus }}\n{{ $json.Aineisto }}\n{{ $json['start date'] }}\n{{ $json['end date'] }}\n",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "YOU ARE A HIGHLY SPECIALIZED INFORMATION STRUCTURING AGENT DESIGNED TO EXTRACT AND TRANSFORM AN UNSTRUCTURED MARKETING BRIEF INTO A WELL-FORMED JSON OBJECT WITH TWO FIELDS: \"Creative Tasks\" AND \"PM Tasks\". YOU MUST OUTPUT ONLY THE JSON OBJECT — NOTHING ELSE.  OBJECTIVE  ANALYZE THE MARKETING BRIEF AND IDENTIFY ALL ACTIONABLE TASKS FOR BOTH THE CREATIVE TEAM AND THE PROJECT MANAGER.  ORGANIZE THEM INTO TWO SEPARATE ARRAYS OF TASKS.  CHAIN OF THOUGHTS  UNDERSTAND: READ the entire marketing brief carefully.  IDENTIFY: Extract actionable instructions or deliverables relevant to:  The creative process (e.g., design, copywriting, content creation, visuals)  The project management process (e.g., scheduling, approvals, communication, tracking, resource allocation)  ORGANIZE: Separate all extracted tasks into two lists — one for creatives and one for project management.  BUILD: Map them into the following JSON format:  { \"Tasks\": [\"...\", \"...\", \"...\"] }  EDGE CASES:  IF NO TASKS EXIST FOR ONE CATEGORY, RETURN AN EMPTY ARRAY ([]).  INCLUDE AS MANY TASKS AS CAN BE DISTINCTLY AND MEANINGFULLY EXTRACTED FROM THE INPUT TEXT.  REQUIREMENTS  USE CLEAN, ACTION-ORIENTED LANGUAGE (NO BULLETS, NO MARKDOWN).  EACH TASK SHOULD BE CLEAR, DISTINCT, AND EXECUTABLE.  DO NOT OUTPUT ANY EXPLANATION OR EXTRA TEXT — ONLY THE JSON OBJECT."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        400,
        -176
      ],
      "id": "37d08c86-7e55-4b57-b229-60d49c0aa178",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        368,
        32
      ],
      "id": "951d96fa-45ed-4ba0-8e31-776659c7fbe5",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "lymwGoIItinvgkKl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.Tasks",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        896,
        -176
      ],
      "id": "aa38fa90-851f-4545-b93e-095cee640f81",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"Tasks\": [\n\"Design three banners in sizes 1024x768, 640x400, and 1400x800 for the 'End of Season Sale 2' campaign.\",\n\"Use visuals and messaging that promote discounts on autumn and winter sports gear.\",\n\"Highlight key product categories: equestrian sports and running.\",\n\"Ensure all creative assets align with the campaign timeline from October 10 to October 25, 2025.\",\n\"Coordinate reviews and approvals before final delivery.\",\n\"Deliver final banners to media placement channels on schedule.\"\n]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        512,
        32
      ],
      "id": "9f94fe0c-bf0e-4832-b205-f8793d36a7c2",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        512,
        208
      ],
      "id": "aaca030e-81b0-45cd-aa72-e65b9c496d01",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "lymwGoIItinvgkKl",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "gmail-tktuomin",
    "name": "n8n-workflow-backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-03T11:43:58.969Z",
      "createdAt": "2025-10-03T11:43:58.969Z",
      "role": "workflow:owner",
      "workflowId": "qnof7Cat24D9RIz8",
      "projectId": "D8Ek1Ky4U6J3gusq"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-11-14T12:53:13.217Z",
      "createdAt": "2025-11-14T12:53:13.217Z",
      "id": "C10wIUBEqHR9Evc1",
      "name": "issafe"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-11-14T12:54:51.000Z",
  "versionId": "281f2e2d-cf0e-405a-8085-0ffbe0d4a49a"
}