sIXNGYD4pJWKmdBQ.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Run an Actor and get dataset": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Test if relevant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Rewrite the text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Run an Actor and get dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test if relevant": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rewrite the text": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Slack": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-01T18:52:04.230Z",
  "id": "sIXNGYD4pJWKmdBQ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AI Scraper",
  "nodes": [
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "Wpp1BZ6yGWjySadk3",
          "mode": "list",
          "cachedResultName": "Linkedin Post Scraper ✅ No cookies ✅ $2 per 1k posts (supreme_coder/linkedin-post)",
          "cachedResultUrl": "https://console.apify.com/actors/Wpp1BZ6yGWjySadk3/input"
        },
        "customBody": "{\n    \"deepScrape\": true,\n    \"limitPerSource\": 5,\n    \"rawData\": false,\n    \"urls\": [\n        \"https://www.linkedin.com/in/michele-torti\",\n\"https://www.linkedin.com/in/jaamo/\",        \"https://www.linkedin.com/in/matthew-cohn-4495a0196/\",\n        \"https://www.linkedin.com/in/samarami/\"\n    ]\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "3db74867-e9ef-489a-9c6b-0c2410d25767",
      "name": "Run an Actor and get dataset",
      "credentials": {
        "apifyApi": {
          "id": "jBujiYu2cIiVxlfR",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 20,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "4c0b6640-820a-465d-9785-488880d3b4fe",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fadf4b12-b5cb-48ea-b2e0-6a1a385eaa7a",
              "leftValue": "={{ $json.output[0].content[0].text.verdict }}",
              "rightValue": "relevant",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        976,
        96
      ],
      "id": "cb06f37d-1e11-4772-9b7d-ca9d91304e14",
      "name": "Filter"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9,
              "triggerAtMinute": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -16,
        0
      ],
      "id": "7c14086e-a13f-4e43-ba68-81d8f03cad5f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=You are a helpful, precise LinkedIn post classifier for an AI -focused audience (people who build with or want to learn AI, understand cool news that come out of it that actually strike have an interesting"
            },
            {
              "content": "=Classify a LinkedIn post for an automation-focused audience. Return only {\"verdict\": \"relevant or not_relevant\"}.\n\n- Relevant if it's valuable advice for someone looking to start an AI Agency\n\n- Not relevant if it's motivational/personal, non-automation coding, crypto/politics/finance, or events, or seminar, or tool discounts etc.. or vague hype with no build/impact or just pushing euros or dollars.\n\nOutput valid JSON only.\n{\"verdict\": \"relevant or not_relevant\"}."
            },
            {
              "content": "=Here is the linkeidn post to analyse\n\n {{ $json.text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        656,
        96
      ],
      "id": "b5a58087-13c6-4afb-9b36-cb57e8c58645",
      "name": "Test if relevant",
      "credentials": {
        "openAiApi": {
          "id": "lymwGoIItinvgkKl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=# Overview\nYou are a helpful, intelligent writing assistant.\n\n## Task\nWrite insightful summaries of LinkedIn posts provided to you.\n\n## My Profile\nI have over 20 years of experience in C-level roles (COO/CEO/CTO). As a tech-savvy and forward-thinking business leader, I work in the marketing industry in Finland. Please consider the relevant business environment, as well as EU and Finnish legislation.\n\n# Rules\n- Use a concise, businesslike tone when rewriting LinkedIn posts\n- No emojis\n- Avoid a condescending tone\n- Do not oversimplify\n- Only output the rewritten LinkedIn post\n- Try to keep summarys under 200 words"
            },
            {
              "content": "=This is the linkedin post to rewrite\n\n {{ $('Run an Actor and get dataset').item.json.text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        1184,
        96
      ],
      "id": "a917b6b9-4728-49ec-8700-7502a8ec1401",
      "name": "Rewrite the text",
      "credentials": {
        "openAiApi": {
          "id": "lymwGoIItinvgkKl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09U499UTGW",
          "mode": "list",
          "cachedResultName": "vinokattohuone"
        },
        "text": "=Weekly Marketing AI Summarys:\n\n{{ $json.output[0].content[0].text }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1536,
        96
      ],
      "id": "a4349de9-0990-40b0-8df6-5531fd2a2fc3",
      "name": "Post to Slack",
      "webhookId": "49fbc2d0-adf1-4f6e-ae95-719d0ec22284",
      "credentials": {
        "slackOAuth2Api": {
          "id": "xk64iVuu22yHYOAw",
          "name": "Slack account"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "gmail-tktuomin",
    "name": "n8n-workflow-backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-01T18:52:04.236Z",
      "createdAt": "2025-12-01T18:52:04.236Z",
      "role": "workflow:owner",
      "workflowId": "sIXNGYD4pJWKmdBQ",
      "projectId": "D8Ek1Ky4U6J3gusq"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-11-14T12:53:13.217Z",
      "createdAt": "2025-11-14T12:53:13.217Z",
      "id": "C10wIUBEqHR9Evc1",
      "name": "issafe"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-12-03T10:08:10.000Z",
  "versionId": "ac79e71c-9fcd-4ffe-a8da-f7a8943332b7"
}