W9A8lBrOUhd7ffYA.json
{
  "active": false,
  "connections": {
    "Initialize": {
      "main": [
        [
          {
            "node": "Get Projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Projects": {
      "main": [
        [
          {
            "node": "Check Next Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-23T12:22:51.607Z",
  "id": "W9A8lBrOUhd7ffYA",
  "isArchived": false,
  "meta": null,
  "name": "Heeros PSA - Get All Project IDs (Paginated)",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "51645bc9-9cb1-4707-964e-1e8660453107",
      "name": "Initialize",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -800,
        32
      ]
    },
    {
      "parameters": {
        "url": "https://psa.heeros.com/api/v1/projects",
        "options": {}
      },
      "id": "699efbed-3f04-46a9-8182-c679c227b445",
      "name": "Get Projects",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -512,
        32
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$items(\"Get Projects\").length}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        },
        "options": {}
      },
      "id": "efe17b04-58d9-4eff-836a-631575f649a0",
      "name": "Check Next Page",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -208,
        32
      ]
    },
    {
      "parameters": {},
      "id": "562c0d19-0e82-4391-b7a8-a830930b055a",
      "name": "Increment Page",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        96,
        -80
      ]
    },
    {
      "parameters": {},
      "id": "be827797-f1b3-40c2-ae32-01635db1d880",
      "name": "Extract Project IDs",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        96,
        128
      ]
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "gmail-tktuomin",
    "name": "n8n-workflow-backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-23T12:22:51.609Z",
      "createdAt": "2025-10-23T12:22:51.609Z",
      "role": "workflow:owner",
      "workflowId": "W9A8lBrOUhd7ffYA",
      "projectId": "D8Ek1Ky4U6J3gusq"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-23T12:22:51.607Z",
  "versionId": "8194f2cb-1e4c-42ab-b1eb-5184904310cb"
}